.package-info {
  position: fixed;
  top     : 0;
  bottom  : 0;
  overflow: auto;
  width : 100%;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
}

.description {
  /*white-space: pre-wrap;*/
  width: 72%;
}