.container {
  height : 100%;
  display: flex;
}

.sidebar {
  vertical-align: top;
  /* height     : 100%; */
  width         : 20%;
  background    : lightblue;
  overflow      : auto;
  padding       : 0px 10px 0px 10px;
  white-space   : nowrap;
  height        : 100vh;
}

.sidebar-list {
  list-style-type: disc;
  padding        : 10px 10px 10px 20px;
}

.content {
  flex            : 1;
  padding         : 0px 10px 0px 10px;
  vertical-align  : top;
  /*height        : 100%; */
  /*width         : 80%;*/
  overflow        : auto;
}

.sort-asc,
.sort-desc {
  outline: none;
  padding: 1%;
  margin: 0 2% 2% 0;
  border-radius: 4px;
  width: 40%;
}
